<!DOCTYPE html>
<html lang="en" ng-app="recorder">
	<head>
		<meta charset="utf-8">
		<title>Speech Recording in Browser</title>
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
		<script src="app.js"></script>
		<style type="text/css"> .red-btn { color: #D00000; } .green-btn { color: #00D000; } .blue-btn { color: #0000D0; } .inline { display: inline; } </style>
	</head>
	<body ng-controller="RecorderController">
		<div class="container well">
			<h1 class="text-center">Record Stuff from the Browser</h1>
			<div class="row">
				<div class="offset3 span3 text-center">
					<label>Input Sample Rate: <select ng-model="samplerate" ng-options="s + ' Hz' for s in samplerates" ng-disabled="wav_format"></select></label>
				</div>
				<div class="span3 text-center">
					<label>Compression: <select ng-model="compression" ng-options="b for b in compressions" ng-disabled="wav_format"></select></label>
				</div>
			</div>
			<div class="row">
				<div class="offset3 span3 text-center"><button class="btn" ng-click="startRecording()" ng-disabled="recording"><i class="icon-circle" ng-class="recordButtonStyle"></i>&nbsp;Start recording</button></div>
				<div class="span3 text-center"><button class="btn" ng-click="stopRecording()" ng-disabled="!recording"><i class="icon-download-alt"></i>&nbsp;Stop recording</button></div>
			</div>
			<div class="row">
				<div class="span12 text-center" ng-show="recording">
					<span class="label label-important">Recording...</label>
				</div>
			</div>
		</div>
<p>Press on the "Start recording button" to start the recording per microphone - permission by the user is required.<br>
To end the recording press on "Stop recording".<br>
The compression and input-sample-rate options are only applicable for FLAC file format download.<br>
The input sample rate in Chrome is - as of now - 44100 Hz. If you change that, the recorded sample may be played slower or faster than expected.</p>

	</body>
</html>
